$primary-100: #6d6881;
$primary-200: #544f6c;
$primary-300: #3c3557;
$primary-400: #231c42;
$primary-500: #0b032d;
$primary-600: #0a0329;
$primary-700: #090224;
$primary-800: #08021f;
$primary-900: #07021b;

$gray-100: #ffffff;
$gray-200: #e6e6e6;
$gray-300: #cccccc;
$gray-400: #b3b3b3;
$gray-500: #999999;
$gray-600: #808080;
$gray-700: #666666;
$gray-800: #4c4c4c;
$gray-900: #333333;

$black: #191919;

$error: #a80c0c;
$success: #19b648;
