@import './../styles/colors.scss';

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.balance {
  font-size: 2rem;
  font-weight: bold;
  color: $primary-500;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.5rem;
}
